<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">
  
    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/area" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>
  
  
  
      <a href="https://www.youtube.com/sfdasf" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>
  
      <a href="https://www.instagram.com/pranjal_.___/" target="_blank">
        <i class="fab fa-instagram pr-1"></i>
      </a>
  
  
      <a href="https://dribbble.com/p" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>
  
      <a href="https://pinterest.com/" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>
  
      <a href="https://github.com/pranjalcr7007" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>
  
      <a href="http://codepen.io//" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->
  
    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright:
      <a></a> Pranjal Web Solutions </a>
    </div>
    <!--/.Copyright-->
  
  </footer>